@use "../../sass/utils";

.notification {
  width: fit-content;
  display: flex;
  align-items: center;
  padding: utils.rem(12) utils.rem(16);
  gap: utils.rem(12);
  position: fixed;
  background-color: utils.$transparent;
  border-radius: utils.rem(15);
  top: utils.rem(30);
  left: utils.rem(24);
  z-index: 2;
  box-shadow: 0px 1px 8px 2px #0000000e;

  @include utils.breakpoint(utils.$size-lg) {
    top: utils.rem(40);
  }

  &-icon {
    width: utils.rem(48);
    height: utils.rem(48);
    border-radius: 50%;
    display: flex;

    img {
      margin: auto;
    }
  }

  .icon-add {
    background-color: #e7f8f0;
  }

  .icon-removed {
    background-color: #fff2f2;
  }

  &-text {
    font-weight: 700;

    &-span {
      font-size: utils.rem(14);
    }
  }
}
