@use "../../sass/utils";

.best-audio-section {
  width: 100%;

  @include utils.breakpoint(utils.$size-lg) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    place-items: center;
    column-gap: utils.rem(125);
  }

  .best-audio-image {
    width: 100%;
    border-radius: utils.rem(8);
  }

  .best-audio-content {
    width: 100%;
    max-width: utils.rem(573);
    margin: 0 auto;
    text-align: center;

    @include utils.breakpoint(utils.$size-lg) {
      max-width: utils.rem(445);
      grid-column: 1 / 2;
      text-align: left;
    }

    .best-audio-title {
      font-size: utils.rem(28);
      text-transform: uppercase;
      margin-top: utils.rem(40);
      margin-bottom: utils.rem(32);

      @include utils.breakpoint(utils.$size-md) {
        font-size: utils.rem(40);
        margin-top: utils.rem(63);
        margin-bottom: utils.rem(32);
      }

      @include utils.breakpoint(utils.$size-lg) {
        margin-top: utils.rem(0);
      }

      &-span {
        color: utils.$beige;
      }
    }
  }
}
