@use "../../../../sass/utils";

.product-home-three {
  width: 100%;

  @include utils.breakpoint(utils.$size-md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: utils.rem(11);
  }

  @include utils.breakpoint(utils.$size-md) {
    column-gap: utils.rem(30);
  }

  .product-home-three-image {
    width: 100%;
    border-radius: utils.rem(8);
    margin-bottom: utils.rem(24);

    @include utils.breakpoint(utils.$size-md) {
      margin-bottom: 0;
    }
  }

  .product-home-three-content {
    width: 100%;
    background-color: utils.$light-gray;
    border-radius: utils.rem(8);
    padding: utils.rem(41) utils.rem(24);

    @include utils.breakpoint(utils.$size-md) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: utils.rem(41);
    }

    @include utils.breakpoint(utils.$size-lg) {
      padding: utils.rem(41) utils.rem(95);
    }

    .product-home-three-title {
      font-size: utils.rem(28);
      text-transform: uppercase;
      margin-bottom: utils.rem(32);
    }
  }
}
