@use "../../../../sass/utils";

.product-home-one {
  width: 100%;
  background-color: utils.$beige;
  padding: utils.rem(55) utils.rem(24);
  border-radius: utils.rem(8);
  background-image: url(../../../../assets/home/desktop/pattern-circles.svg);
  background-size: utils.rem(500);
  background-position: center -100px;
  background-repeat: no-repeat;

  @include utils.breakpoint(utils.$size-md) {
    background-size: utils.rem(800);
    background-position: center -250px;
    padding: utils.rem(52) utils.rem(24) utils.rem(64);
  }

  @include utils.breakpoint(utils.$size-lg) {
    height: utils.rem(560);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: utils.rem(138);
    place-items: center;
    background-position: -90px -50px;
    padding: 0 utils.rem(95);
  }

  .product-home-one-image-container {
    width: fit-content;
    margin: 0 auto;

    @include utils.breakpoint(utils.$size-lg) {
      display: flex;
      height: 100%;
      overflow: hidden;
    }

    .product-home-one-image {
      margin-bottom: utils.rem(32);
      width: utils.rem(172.25);

      @include utils.breakpoint(utils.$size-md) {
        width: utils.rem(197.21);
      }

      @include utils.breakpoint(utils.$size-lg) {
        margin: auto 0;
        width: 100%;
      }

      @include utils.breakpoint(utils.$size-xl) {
        margin: auto 0 0;
        position: relative;
        bottom: utils.rem(-10);
      }
    }
  }

  &-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: utils.rem(24);

    @include utils.breakpoint(utils.$size-md) {
      width: utils.rem(349);
    }

    @include utils.breakpoint(utils.$size-lg) {
      align-items: initial;
    }

    .product-home-one-title {
      text-align: center;
      color: utils.$transparent;
      font-size: utils.rem(36);
      text-transform: uppercase;

      @include utils.breakpoint(utils.$size-md) {
        font-size: utils.rem(56);
      }

      @include utils.breakpoint(utils.$size-lg) {
        text-align: left;
      }
    }

    .product-home-one-text {
      text-align: center;

      @include utils.breakpoint(utils.$size-lg) {
        text-align: left;
      }
    }
  }
}
