@use "../../sass/utils";

.main-container-wrapper {
  padding: utils.rem(40) utils.rem(24) utils.rem(120);
  display: flex;
  justify-content: center;

  @include utils.breakpoint(utils.$size-md) {
    padding: utils.rem(96) utils.rem(40);
  }

  @include utils.breakpoint(utils.$size-md) {
    padding-top: utils.rem(120);
    padding-bottom: utils.rem(200);
  }

  .main-container {
    width: 100%;
    max-width: utils.$max-w;
    display: flex;
    flex-direction: column;
    gap: utils.rem(120);

    @include utils.breakpoint(utils.$size-md) {
      gap: utils.rem(96);
    }

    @include utils.breakpoint(utils.$size-md) {
      gap: utils.rem(160);
    }
  }
}
