@use "../../sass/utils";

.navbar {
  width: 100%;
  background-color: utils.$black;
  position: fixed;
  top: 0;
  z-index: 1;

  @include utils.breakpoint(utils.$size-md) {
    padding: 0 utils.rem(40);
  }

  .navbar-container {
    width: 100%;
    max-width: utils.$max-w;
    height: utils.rem(90);
    align-items: center;
    display: flex;
    position: relative;
    justify-content: center;
    margin: 0 auto;
    border-bottom: 1px solid utils.color-opacity(0.1, utils.$white);
    transition-duration: utils.$duration;

    @include utils.breakpoint(utils.$size-md) {
      justify-content: unset;
    }

    @include utils.breakpoint(utils.$size-lg) {
      height: utils.rem(96);
      justify-content: center;
    }

    .navbar-btn-menu {
      position: absolute;
      left: utils.rem(24);

      @include utils.breakpoint(utils.$size-md) {
        position: static;
        margin-right: utils.rem(42);
      }

      @include utils.breakpoint(utils.$size-lg) {
        display: none;
      }
    }

    .navbar-btn-cart {
      position: absolute;
      right: utils.rem(24);

      @include utils.breakpoint(utils.$size-md) {
        position: static;
        margin-left: auto;
      }

      @include utils.breakpoint(utils.$size-lg) {
        margin-left: 0;
        position: absolute;
        right: 0;
      }
    }

    .navbar-logo {
      @include utils.breakpoint(utils.$size-lg) {
        position: absolute;
        left: 0;
      }
    }

    ul {
      display: none;

      @include utils.breakpoint(utils.$size-lg) {
        display: flex;
      }
    }
  }

  .no-navbar-border {
    border-bottom: none;
  }
}

.navbar-mobile-menu {
  width: 100%;
  background-color: white;
  padding: utils.rem(35) utils.rem(24);
  border-radius: 0 0 utils.rem(8) utils.rem(8);

  @include utils.breakpoint(utils.$size-md) {
    padding: utils.rem(56) utils.rem(40) utils.rem(64);
  }
}

.tranparent-background-container {
  padding: utils.rem(24);
  display: flex;
  justify-content: center;

  @include utils.breakpoint(utils.$size-md) {
    padding: utils.rem(24) utils.rem(40);
  }

  .shopping-cart-wrapper {
    width: 100%;
    max-width: utils.$max-w;
    display: flex;

    .shopping-cart-container {
      width: 100%;
      max-width: utils.rem(377);
      height: utils.rem(488);
      border-radius: utils.rem(8);
      background-color: white;
      margin-left: auto;
      padding: utils.rem(32) utils.rem(28);
      display: flex;
      flex-direction: column;
      gap: utils.rem(24);

      @include utils.breakpoint(utils.$size-md) {
        padding: utils.rem(31) utils.rem(33);
      }

      .checkout-button {
        margin-top: auto;
        width: 100%;
        justify-content: center;
      }
    }
  }
}
